body{
	height: 100%;
}
@font-face {
	font-family:pristina;
	src: url('../font/pristina.ttf');
}
.loadimg{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fbee4e;
	z-index: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loadimg .load_font{
	font-size: 500px;
	color: #fff;
	font-family: "微软雅黑";
}
.bg{
	width: 50%;
	height: 100%;
	display: inline-block;
}
.yellow{
	background: #fbee4e;
}
.blue{
	background: #2a1046;
}
.index_header{
	top: 0;
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 62px;
	display: flex;
	align-items: center;
}
.logo{
	z-index: 200;
	margin-left: 65px;
	position: relative;
	display: flex;
    align-items: center;
}

.nav{
	position: absolute;
    right: 65px;
    font-size: 18px;
    color: #aaaaaa;
    z-index: 200;
    letter-spacing: 2px;
}
.nav .active{
	border-bottom: 3px solid #2a1046;
}
.nav .active a{
	color: #2a1046;
	
}
.nav li{
	float: left;
    margin-right: 30px;
    text-align: center;
    cursor: pointer;
    height: 65px;
    display: flex;
    align-items: center;
    
}
.nav li a{
	color: #aaaaaa;
}

.index_nav a:hover{
	color: #2a1046 ;
}
.index_nav .active{
	color: #2a1046;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 20px;
}

.introduction_nav li:hover{
	color: #fbee4e;
}
.introduction_nav li a:hover{
	color: #fbee4e;
}
.introduction_nav .introactive{
	color: #fbee4e;
	border-bottom: 3px solid #fbee4e;
}
.introduction_nav .introactive a{
	color: #fbee4e;
	
}

.nav li .english{
	font-size: 12px;
	margin-top: 5px;
}
.nav .last{
	margin-right: 0;
}

.section_content{
	left: 65px;
	right: 65px;
	top: 65px;
	bottom: 65px;
	position: absolute;
}
.section_content .section_pic{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: contain !important;
}

@media (max-width: 1280px){ 
	.section_content .pic1{
		display: block;
	}
	.section_content .pic2,.section_content .pic3{
		display: none;
	}
}

@media (min-width: 1366px) {
		
	.section_content .pic2{
		display: block;
	}
	.section_content .pic1,.section_content .pic3{
		display: none;
	}
}  


@media (min-width: 1680px) {
	.section_content .pic3{
		display: block;
	}
	.section_content .pic1,.section_content .pic2{
		display: none;
	}
} 

.posright{
	position: absolute;
	left: auto !important;
	right: 0 !important;
}

.section_content img{
	width: 100%;
	height: 100%;
	position: absolute;
}
.section_content .section2{
	top: 29%;
	left: .2rem;
	line-height: 70px;
	width: 50%;
	position: absolute;
}
.section_content .section3{
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,.5);
	
}
.section_header{
	height: 65px;
	background: #2A1046;
}
.section_content p{
	font-size: 35px;
	color: #fff;
}
.section_content .section2_p1{
	top: 27%;
	left: .2rem;
}
.section_content .section2_p2{
	top: 40%;
	left: .2rem;
}
.section_content .section2_p3{
	top: 55%;
	left: .2rem;
}
.section1_font{
	position: absolute;
	top: 45%;
	color: #2A1046;
	font-size: 30px;
	left: 15px;
	transform: rotate(-90deg);
	font-family: pristina;
}
.more{
	width: .7rem;
	height: .18rem;
	border: 2px solid #fff;
	font-size: .12rem !important;
	text-align: center;
	line-height: .16rem;
	color: #fff !important;
	position: absolute;
	cursor: pointer;
	margin-top: .15rem;
}
.bottom{
	padding: 25px 10%;
	position: absolute;
	bottom: 0;
	background: #fbee4e;
	width: 80%;
	height: 130px;
}

.oinput{
	position: absolute;
    width: 70%;
    left: 15%;
    bottom: 200px;
    border: 1px solid #2a1046;
}
.oinput textarea{
	width: 100%;
	font-size: 16px;
	text-indent: 20px;
	border: none;
	outline: none;
	
}
@media screen and (max-height:800px) {
	.yewuliuchengpic{
		width:500px;
		margin: 20px auto;
	}
	.oinput {
        height: 280px;
    }
    .oinput textarea{
    	height: 240px;
    }
    .intro_bottom{
		width: 200px;
		margin: 0 auto;
	}
}
@media screen and (min-height:810px) {
	.yewuliuchengpic{
		width:700px;
		margin: 20px auto;
	}
	.oinput {
        height: 350px;
    }
    .oinput textarea{
    	height: 300px;
    }
    .intro_bottom{
		width: 200px;
		position: absolute;
		bottom: 80px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.bottom .left{
	display: inline-block;
}
.bottom .left p{
	line-height: 35px;
    font-size: 18px;
    color: #000;
	
}
.bottom .right{
	display: flex;
	align-items: center;
	margin-top: 15px;
}
.bottom .right img{
	width: 120px;
	
}
.swiper-pagination-bullet{
	width: 15px;
    height: 15px;
}
.swiper-pagination-bullet{
	background: #ddd !important;
}

.swiper-pagination-bullet-active{
	background: #faec5c !important;
}
.qidai{
	font-family: "微软雅黑";
	font-weight: bold;
}
.fenleilist{
	
}
.fenleilist li{
	float: left;
	width: 100%;
	margin: 30px 0;
}
.fenleilist li img{
	width: 100%;
}
.introduction_content{
	margin: 120px 65px 100px 65px;
	
}
.introduction_content p,.introduction_content h1{
	color: #2a1046;
}
.header{
	margin-top: 50px;
	text-align: center;
	color: #2A1046;
}
.header .title{
	font-size: 30px;
	line-height: 50px;
}
.header .english{
	font-size: 22px;
}
.header .yellow_line{
	width: 160px;
	height: 2px;
	background: #fbee4e;
	margin: 0 auto;
}
.introduction_content .content{
	margin: 50px 80px 50px 80px;
}
@media only screen and (min-width:1366px ) {
	.fontcontent{
		width: 1200px;margin: 50px auto;
	}
}

@media only screen and (max-width:1365px ) {
	.fontcontent{
		width: 900px;margin: 50px auto;
	}
}

.indent{
	text-indent: 45px;
}
.contents{
	text-align: center;
	width: 700px;
	margin: 50px auto !important;
}
.down_head .icon{
	width: 100px;
}
.hetong{
	width: 150px;
	height: 40px;
	border-radius: 20px;
	line-height: 40px;
	border: 1px solid #292ef9;
	margin: 0 auto;
	font-size: 16px;
	color: #292ef9;
	
}
#viewhetong{
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.down_mid{
	height: 229px;
    overflow: hidden;
    position: relative;
}
.down_mid .mid_title{
	font-size: 30px !important;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #000000;
	margin-top: 30px;
}
.down_mid .mid_info{
	font-size: 16px;
	text-align: left;
	line-height: 25px;
	margin-top: 40px;
}
.down_head .hetong img{
	width: 20px;
	vertical-align: middle;
}
.introduction_content .content p,.fontcontent p{
	font-size: 22px !important;
	line-height: 35px;
}

.services_content{
	left: 65px;
	right: 65px;
	top: 65px;
	bottom: 65px;
	position: fixed;
}
.services_content .content{
	margin: 65px;
}
.services_content .content p{
	font-size:20px ;
	line-height: 35px;
	color: #2a1046;
}


